<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgeWell"
        tools:targetApi="31">
        <activity
            android:name=".HospitalActivity"
            android:exported="false" />
        <activity
            android:name=".OurFeedbacks"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".OTP"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".globalchat"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".BMIActivity"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".MealPlanner"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".EmergencyContact"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".ActivityAppointment"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".AddMedicineActivity"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".MedicalStockActivity"
            android:exported="false"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".Exercise_suggestion"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AgeWellSuper"></activity>
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationReceiver" />
    </application>

</manifest>